<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.radiohacks.frinmean">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="de.radiohacks.frinmean.FrinmeanApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.radiohacks.frinmean.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.radiohacks.frinmean.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="de.radiohacks.frinmean.ChatActivity"
            android:label="@string/title_activity_chat" />
        <activity
            android:name="de.radiohacks.frinmean.SignUpActivity"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name="de.radiohacks.frinmean.SingleChatActivity"
            android:label="@string/title_activity_single_chat"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePicker.Theme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="de.radiohacks.frinmean.service.MeBaService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <!-- This points to a required XML file which describes our SyncAdapter. -->
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <service android:name="de.radiohacks.frinmean.account.GenericAccountService">
            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <!-- This points to an XMLf ile which describes our account service. -->
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <receiver
            android:name="de.radiohacks.frinmean.SingleChatActivity$SingleChatReceiver"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".providers.FrinmeanContentProvider"
            android:authorities="de.radiohacks.frinmean.providers.FrinmeanContentProvider" />
    </application>

</manifest>
